.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
gradle
out
docs/docker/logs
docs/docker/redis/master/data/appendonly.aof
docs/docker/redis/master/data/dump.rdb
dump.rdb
docs/docker/webapps/ril
docs/docker/webapps/ROOT
ril.war
