<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="calendar_div" th:fragment="content">
    <link th:href="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css"/>

    <div id="m_calendar" class="fc fc-unthemed fc-ltr"></div>

    <script th:src="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js}" type="text/javascript"></script>
    <script th:src="@{/assets/vendors/custom/fullcalendar/locale/zh-cn.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/fullcalendar/_fullcalendar.js}" type="text/javascript"></script>
</div>
</body>
</html>
