<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/webModel}">
<body>

<div class="content_container" th:fragment="content">

    <!--引入 jquery DataTables 需要的 js 和 css-->
    <div th:replace="~{compoments/_jquery_datatables_included :: content}"></div>
    <!---->

    <link th:href="@{/assets/css/system/role/index.css}" rel="stylesheet"/>


    <div class="col-xl-12 order-1 order-xl-2 m--align-right">
        <a href="javascript:fun_create()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air">
            <span>
                <i class="la la-cart-plus"></i>
                <span>
                    增加一个角色
                </span>
            </span>
        </a>
        <div class="m-separator m-separator--dashed d-xl-none"></div>
    </div>
    <div class="dataTable_div">
        <table id="role_table" class="hover" style="width:100%">
            <thead>
            <tr>
                <th width="30%">名称</th>
                <th width="50%">描述</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
        </table>
    </div>

    <!-- begin:: Model-->
    <div th:replace="/system/role/_edit_in_modal :: role_edit_in_modal"></div>

    <div th:replace="/system/role/_menu_assign.html :: assign_menu_in_modal"></div>
    <!-- end::Model-->

    <script th:src="@{/assets/js/system/role/index.js}" type="text/javascript"></script>

</div>
</body>
</html>
