<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="m_ver_menu"
     class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
     data-menu-vertical="false" data-menu-dropdown="true" data-menu-scrollable="true" data-menu-dropdown-timeout="0"
     style="height: 243px; position: relative; overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;"
         tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
             style="position:relative; top:0; left:0;" dir="ltr">

        </div>
    </div>
    <div id="mCSB_1_scrollbar_vertical"
         class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;">
        <div class="mCSB_draggerContainer">
            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                 style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 209px;">
                <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
            </div>
            <div class="mCSB_draggerRail"></div>
        </div>
    </div>
</div>
</body>
</html>
