<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="modify_password">

    <form class="m-form m-form--fit m-form--label-align-right" target="nm_iframe" onsubmit="fun_modify_password()">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label for="oldpassword" class="col-2 col-form-label">
                    旧密码
                </label>
                <div class="col-6">
                    <input class="form-control m-input" type="password" value="" id="oldpassword" required>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="newpassword" class="col-2 col-form-label">
                    新密码
                </label>
                <div class="col-6">
                    <input class="form-control m-input" type="password" value="" id="newpassword" required>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="newpassword-v" class="col-2 col-form-label">
                    重复输入
                </label>
                <div class="col-6">
                    <input class="form-control m-input" type="password" value="" id="newpassword-v" required>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <button type="submit" class="btn btn-success">
                            更新密码
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script th:src="@{/assets/js/user/modify_password.js}"></script>

</div>
</html>
