<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">

    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown "
            data-menu-vertical="true"
            data-menu-dropdown="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500"
    >
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item " aria-haspopup="true" name="menu_system_dashboard">
                <a th:href="@{/}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">
                                Dashboard
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                name="menu_system">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-open-box"></i>
                    <span class="m-menu__link-text">
                                        系统设置
                                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-open-box"></i>
                                <span class="m-menu__link-text">
                                    授权维护
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                                        <a th:href="@{/admin/systemMenuMaintain}" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">系统菜单维护</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                                        <a th:href="@{/admin/roleMaintain}" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">角色维护</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/admin/serverInfo}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">查看服务器信息</span>
                            </a>
                        </li>
                        <li class="m-menu__item" aria-haspopup="true" name="menu_system_configer">
                            <a th:href="@{/admin/system_config}" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-list-3"></i>
                                <span class="m-menu__link-text">参数设置</span>
                            </a>
                        </li>
                        <li class="m-menu__item" aria-haspopup="true" name="menu_system_log">
                            <a th:href="@{/system_logs_index}" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-line-graph"></i>
                                <span class="m-menu__link-text">系统日志</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <span class="m-menu__item-here"></span>
                    <i class="m-menu__link-icon flaticon-open-box"></i>
                    <span class="m-menu__link-text">
                                        测试功能
                                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-open-box"></i>
                                <span class="m-menu__link-text">
                                    三级菜单
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                                        <a th:href="@{/cleanCache}" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">三级菜单1</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/cleanCache}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">清除所有 cache</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/admin/systemMenus4Treeviewer}" class="m-menu__link " target="_test">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">显示系统菜单的 json</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/serverInfo}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">查看服务器信息</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a th:href="@{/businessMethodLog.json}" class="m-menu__link " target="_test">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">调用一个记录日志的方法</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/builder.html}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">调用一个静态页面</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/testPage}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">访问一个动态界面</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
                            <a th:href="@{/test/ajax_500}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text"> 通过 ajax 捕获500错误</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>

</div>

</html>
